<div class="col-xs-6">

        <div class="form-group">

            <label >Date:</label>
            <i class="fa fa-calendar"></i><input type="text"
                                                 class="form-control ng-pristine ng-valid-parse ng-invalid ng-invalid-required ng-touched"
                                                  data-min-date="today"
                                                 placeholder="Date" bs-datepicker ng-required="true">
        </div>

    </div>
