<div class="col-xs-6">

        <div class="form-group">

            <label for="id_fromDate">From date:</label>
            <i class="fa fa-calendar"></i><input type="text" id="id_fromDate" name="fromDate"
                                                 class="form-control ng-pristine ng-valid-parse ng-invalid ng-invalid-required ng-touched"
                                                 ng-model="fromDate" data-max-date="{{ toDate }}" data-min-date="today"
                                                 placeholder="From" bs-datepicker ng-required="true">
        </div>

    </div>
    <div class="col-xs-6">

        <div class="form-group">
            <label for="id_toDate">To date:</label>
            <i class="fa fa-calendar"></i><input type="text" id="id_toDate" name="toDate"
                                                 class="form-control ng-pristine ng-valid-parse ng-invalid ng-invalid-required ng-touched"
                                                 ng-model="toDate" data-min-date="{{ fromDate }}"
                                                 data-start-date="{{ fromDate }}"
                                                 placeholder="Until" bs-datepicker ng-required="true">
        </div>


    </div>