<form name="form_vuelo" method="post" ng-submit="vm.search(form_vuelo)" class="form-horizontal">
    <div class="well">
        <div class="row">
            <!-- IZQ -->

            <div class="col-xs-6">
                <div class="form-group">
                    <label>Trayecto1:</label>

                    <ui-select ng-model="vm.flight1.from.selected" theme="selectize">
                        <ui-select-match placeholder="Select or search a airport in the list...">
                            <span ng-bind="$select.selected.name"></span> <span
                                ng-bind-html="$select.selected.code"></span>
                        </ui-select-match>


                        <ui-select-choices repeat="code in vm.iataCodes | filter: $select.search"
                                           ng-required="true">
                            <span ng-bind-html="code.name | highlight: $select.search"></span>
                            <small ng-bind-html="code.code | highlight: $select.search"></small>
                        </ui-select-choices>


                    </ui-select>

                    <ui-select ng-model="vm.flight1.to.selected" theme="selectize">
                        <ui-select-match placeholder="Select or search a airport in the list...">
                            <span ng-bind="$select.selected.name"></span> <span
                                ng-bind-html="$select.selected.code"></span>
                        </ui-select-match>


                        <ui-select-choices repeat="code in vm.iataCodes | filter: $select.search"
                                           ng-required="true">
                            <span ng-bind-html="code.name | highlight: $select.search"></span>
                            <small ng-bind-html="code.code | highlight: $select.search"></small>
                        </ui-select-choices>


                    </ui-select>

                </div>


                <div class="form-group">
                    <label>Trayecto2:</label>

                    <ui-select ng-model="vm.flight2.from.selected" theme="selectize">
                        <ui-select-match placeholder="Select or search a airport in the list...">
                            <span ng-bind="$select.selected.name"></span> <span
                                ng-bind-html="$select.selected.code"></span>
                        </ui-select-match>


                        <ui-select-choices repeat="code in vm.iataCodes | filter: $select.search"
                                           ng-required="true">
                            <span ng-bind-html="code.name | highlight: $select.search"></span>
                            <small ng-bind-html="code.code | highlight: $select.search"></small>
                        </ui-select-choices>

                    </ui-select>

                    <ui-select ng-model="vm.flight2.to.selected" theme="selectize">
                        <ui-select-match placeholder="Select or search a airport in the list...">
                            <span ng-bind="$select.selected.name"></span> <span
                                ng-bind-html="$select.selected.code"></span>
                        </ui-select-match>


                        <ui-select-choices repeat="code in vm.iataCodes | filter: $select.search"
                                           ng-required="true">
                            <span ng-bind-html="code.name | highlight: $select.search"></span>
                            <small ng-bind-html="code.code | highlight: $select.search"></small>
                        </ui-select-choices>

                    </ui-select>


                </div>

                <div class="form-group">
                    <label>Trayecto3:</label>
                    <ui-select ng-model="vm.flight3.from.selected" theme="selectize">
                        <ui-select-match placeholder="Select or search a airport in the list...">
                            <span ng-bind="$select.selected.name"></span> <span
                                ng-bind-html="$select.selected.code"></span>
                        </ui-select-match>


                        <ui-select-choices repeat="code in vm.iataCodes | filter: $select.search"
                                           ng-required="true">
                            <span ng-bind-html="code.name | highlight: $select.search"></span>
                            <small ng-bind-html="code.code | highlight: $select.search"></small>
                        </ui-select-choices>

                    </ui-select>

                    <ui-select ng-model="vm.flight3.to.selected" theme="selectize">
                        <ui-select-match placeholder="Select or search a airport in the list...">
                            <span ng-bind="$select.selected.name"></span> <span
                                ng-bind-html="$select.selected.code"></span>
                        </ui-select-match>


                        <ui-select-choices repeat="code in vm.iataCodes | filter: $select.search"
                                           ng-required="true">
                            <span ng-bind-html="code.name | highlight: $select.search"></span>
                            <small ng-bind-html="code.code | highlight: $select.search"></small>
                        </ui-select-choices>

                    </ui-select>

                </div>

                <div class="form-group">
                    <label>Trayecto4:</label>

                    <ui-select ng-model="vm.flight4.from.selected" theme="selectize">
                        <ui-select-match placeholder="Select or search a airport in the list...">
                            <span ng-bind="$select.selected.name"></span> <span
                                ng-bind-html="$select.selected.code"></span>
                        </ui-select-match>


                        <ui-select-choices repeat="code in vm.iataCodes | filter: $select.search"
                                           ng-required="true">
                            <span ng-bind-html="code.name | highlight: $select.search"></span>
                            <small ng-bind-html="code.code | highlight: $select.search"></small>
                        </ui-select-choices>

                    </ui-select>

                    <ui-select ng-model="vm.flight4.to.selected" theme="selectize">
                        <ui-select-match placeholder="Select or search a airport in the list...">
                            <span ng-bind="$select.selected.name"></span> <span
                                ng-bind-html="$select.selected.code"></span>
                        </ui-select-match>


                        <ui-select-choices repeat="code in vm.iataCodes | filter: $select.search"
                                           ng-required="true">
                            <span ng-bind-html="code.name | highlight: $select.search"></span>
                            <small ng-bind-html="code.code | highlight: $select.search"></small>
                        </ui-select-choices>

                    </ui-select>

                </div>

                <div class="form-group">
                    <label>Trayecto5:</label>

                    <ui-select ng-model="vm.flight5.from.selected" theme="selectize">
                        <ui-select-match placeholder="Select or search a airport in the list...">
                            <span ng-bind="$select.selected.name"></span> <span
                                ng-bind-html="$select.selected.code"></span>
                        </ui-select-match>


                        <ui-select-choices repeat="code in vm.iataCodes | filter: $select.search"
                                           ng-required="true">
                            <span ng-bind-html="code.name | highlight: $select.search"></span>
                            <small ng-bind-html="code.code | highlight: $select.search"></small>
                        </ui-select-choices>

                    </ui-select>

                    <ui-select ng-model="vm.flight5.to.selected" theme="selectize">
                        <ui-select-match placeholder="Select or search a airport in the list...">
                            <span ng-bind="$select.selected.name"></span> <span
                                ng-bind-html="$select.selected.code"></span>
                        </ui-select-match>


                        <ui-select-choices repeat="code in vm.iataCodes | filter: $select.search"
                                           ng-required="true">
                            <span ng-bind-html="code.name | highlight: $select.search"></span>
                            <small ng-bind-html="code.code | highlight: $select.search"></small>
                        </ui-select-choices>

                    </ui-select>


                    </ui-select>
                </div>

                <div class="form-group">
                    <label>Trayecto6:</label>

                    <ui-select ng-model="vm.flight6.from.selected" theme="selectize">
                        <ui-select-match placeholder="Select or search a airport in the list...">
                            <span ng-bind="$select.selected.name"></span> <span
                                ng-bind-html="$select.selected.code"></span>
                        </ui-select-match>


                        <ui-select-choices repeat="code in vm.iataCodes | filter: $select.search"
                                           ng-required="true">
                            <span ng-bind-html="code.name | highlight: $select.search"></span>
                            <small ng-bind-html="code.code | highlight: $select.search"></small>
                        </ui-select-choices>

                    </ui-select>

                    <ui-select ng-model="vm.flight6.to.selected" theme="selectize">
                        <ui-select-match placeholder="Select or search a airport in the list...">
                            <span ng-bind="$select.selected.name"></span> <span
                                ng-bind-html="$select.selected.code"></span>
                        </ui-select-match>


                        <ui-select-choices repeat="code in vm.iataCodes | filter: $select.search"
                                           ng-required="true">
                            <span ng-bind-html="code.name | highlight: $select.search"></span>
                            <small ng-bind-html="code.code | highlight: $select.search"></small>
                        </ui-select-choices>

                    </ui-select>

                </div>


                <!-- FIN IZQ -->
            </div>
            <div class="col-xs-1">
                <br/>
            </div>

            <!-- DHA -->
            <div class="col-xs-5">
                <div class="form-group">


                        <label>Date:</label>
                        <i class="fa fa-calendar"></i><input type="text"
                                                             class="form-control ng-pristine ng-valid-parse ng-invalid ng-invalid-required ng-touched"
                                                             data-min-date="today"
                                                             placeholder="Date" bs-datepicker ng-required="vm.flight1.from.selected && vm.flight1.to.selected"
                                                              ng-model="vm.dateFlight1">


                </div>

                <div class="form-group">
                    <label>Date:</label>
                    <i class="fa fa-calendar"></i><input type="text"
                                                         class="form-control ng-pristine ng-valid-parse ng-invalid ng-invalid-required ng-touched"
                                                         data-min-date="today"
                                                         placeholder="Date" bs-datepicker ng-required="vm.flight2.from.selected && vm.flight2.to.selected"
                                                         ng-model="vm.dateFlight2">
                </div>

                <div class="form-group">
                    <label>Date:</label>
                    <i class="fa fa-calendar"></i><input type="text"
                                                         class="form-control ng-pristine ng-valid-parse ng-invalid ng-invalid-required ng-touched"
                                                         data-min-date="today"
                                                         placeholder="Date" bs-datepicker ng-required="vm.flight3.from.selected && vm.flight3.to.selected"
                                                         ng-model="vm.dateFlight3">
                </div>

                <div class="form-group">
                    <label>Date:</label>
                    <i class="fa fa-calendar"></i><input type="text"
                                                         class="form-control ng-pristine ng-valid-parse ng-invalid ng-invalid-required ng-touched"
                                                         data-min-date="today"
                                                         placeholder="Date" bs-datepicker ng-required="vm.flight4.from.selected && vm.flight4.to.selected"
                                                         ng-model="vm.dateFlight4">
                </div>

                <div class="form-group">
                    <label>Date:</label>
                    <i class="fa fa-calendar"></i><input type="text"
                                                         class="form-control ng-pristine ng-valid-parse ng-invalid ng-invalid-required ng-touched"
                                                         data-min-date="today"
                                                         placeholder="Date" bs-datepicker ng-required="vm.flight5.from.selected && vm.flight5.to.selected"
                                                         ng-model="vm.dateFlight5">
                </div>

                <div class="form-group">
                    <label>Date:</label>
                    <i class="fa fa-calendar"></i><input type="text"
                                                         class="form-control ng-pristine ng-valid-parse ng-invalid ng-invalid-required ng-touched"
                                                         data-min-date="today"
                                                         placeholder="Date" bs-datepicker ng-required="vm.flight6.from.selected && vm.flight6.to.selected"
                                                         ng-model="vm.dateFlight6">
                </div>


                <!-- FIN DHA -->
            </div>

        </div>

        <div class="row">


            <div class="form-group">
                <div class=" col-xs-3">
                    <label for="id_num_adult">num adultos:</label>
                    <select name="numAdult" class="form-control" ng-model="vm.numAdult" ng-require="true">
                        <option ng-repeat="i in vm.range(10)" value="{{ i }}" ng-selected="vm.checkAdult(i)">{{ i }}</option>
                    </select>
                </div>

                <div class="col-xs-3">
                    <label for="id_num_child">num niños:</label>
                    <select name="numChild" class="form-control" ng-model="vm.numChild">
                        <option ng-repeat="i in vm.range(10)" value="{{ i }}" ng-selected="i == vm.numChild ">{{ i }}</option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <label for="id_num_infant">num bebes:</label>
                    <select name="num_infant" class="form-control" ng-model="vm.numInfant">
                        <option ng-repeat="i in vm.rangeAddition(vm.numAdult,1)" value="{{ i }}" ng-selected=" i == vm.numInfant ">{{ i }}</option>
                    </select>
                </div>
                <div class="col-xs-3">
                            <label for="id_resident">Residentes:</label>
                            <input type="checkbox" name="residentes" ng-model="vm.resident">

                    </div>

            </div>

            <div class="col-xs-3">
                        <div class="form-group">
                            <label for="id_direct_flight">Sin escalas:</label>
                            <input type="checkbox" name="directFlight" ng-model="vm.directFlight">
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="id_low_cost">Lowcost:</label>
                            <input type="checkbox" name="lowCost" ng-model="vm.lowCost">
                        </div>
                    </div>


        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary col-md-12">Buscar Combinado</button>
            </div>


        </div>
    </div>


</form>

<div class="row">
    <div ng-if="vm.flights.Status=='KO'">

        <div class="bg-warning">
            <i class="fa fa-exclamation-triangle"></i>

            <div ng-repeat="i in vm.flights.Error">
                <span> Code: {{ i.Code }}</span>
                <span> Description: {{ i.Description }}</span>
            </div>

        </div>

    </div>
    <div class="col-md-12" ng-if="vm.flights.status=='OK'">
        Token = <span ng-bind="vm.flights.token"></span>
            <div resultadovuelo flight="vm.flights.response" token="vm.flights.token">cargo la directiva</div>
        </div>

    </div>
</div>
