<ul>

    <li ng-repeat="(key, value) in vm.allAirlines">
        <input type="checkbox" ng-model="vm.airlineChecked[key]" ng-init="vm.airlineChecked[key]=true">{{ value }}
    </li>

</ul>
<div>
    <rzslider rz-slider-model="vm.evaluatePrice" rz-slider-options="{floor: 0, ceil: vm.maxPrice}"></rzslider>
</div>

<div ng-repeat="flight in vm.flight">
    {{ vm.checkMaxPrice(flight) }}
    <div ng-show="vm.inprice(flight.price) && vm.checkAirline(flight.priceGroup)">

        <form name="{{ flight.priceGroup }}" ng-submit="vm.generateReservation(flight.priceGroup,vm.token)"
              class="border:1px solid #cacaca">
            <fieldset class="border: 1px solid #781351;">

                <div class="bg-info">
                    <div> Precio: {{ flight.price }}</div>
                    <div> Token : {{ vm.token }}</div>
                    <div> Desglose</div>
                </div>
                <div class="bg-info">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Precio</th>
                            <th>Tasas</th>
                            <th>Fee</th>
                            <th>Descuento</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr preciovuelo user="flight.pricePerUser.adult" nombre="'Adulto'" ></tr>
                        <tr preciovuelo user="flight.pricePerUser.child" nombre="'Niño'" ></tr>
                        <tr preciovuelo user="flight.pricePerUser.infant" nombre="'Bebe'" ></tr>

                        </tbody>

                    </table>
                </div>


                <div class="bg-info">

                    <div ng-repeat="i in flight.FareNotes">
                        <span> <strong>category</strong>: {{ i.category }} </span>
                        <span> <strong>Code</strong>: {{ i.code }}</span>
                        <span> <strong>Description</strong>: {{ i.description }}</span>
                    </div>

                </div>
                <ul>
                    <li ng-repeat="(key,segmentArr) in flight.flightList" data-id="{{ key }}"> SECCION
                        <ul>

                            <li ng-repeat="(it_id,selection) in segmentArr">

                                <input
                                        type="radio"
                                        name="{{ key }}"
                                        ng-model="segment.key"
                                        ng-value="it_id"
                                        ng-change="vm.setSegment(flight.priceGroup,it_id, selection)">

                                <div infovuelo
                                     vuelo="selection"
                                     media ="vm.getAirlineImage(selection.marketingCarrier)"
                                     nombre="vm.getAirlineName(selection.marketingCarrier,flight.priceGroup)"></div>

                                <div ng-show="selection.scale.length <= 1"><strong>Directo</strong></div>
                                <div ng-show="selection.scale.length > 1"><strong>Núm de escalas</strong>
                                    {{ selection.scale.length -1 }}
                                    <div> Información de Escalas</div>
                                    <div ng-repeat="i in selection.scale">

                                        <div infovuelo
                                             vuelo="i"
                                             media ="vm.getAirlineImage(i.marketingCarrier)"
                                             nombre="vm.getAirlineName(i.marketingCarrier)"></div>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </li>
                </ul>

                <button type="submit" class="btn btn-primary">Reservar</button>
            </fieldset>
        </form>
    </div>
</div>