<div ng-hide="vm.confirmation">
<form name="{{ vm.flight.Price_group }}" ng-submit="vm.confirmReservation()" class="border:1px solid #cacaca">

<div ng-if="vm.info.Status=='KO'">

        <div class="bg-warning">
            <i class="fa fa-exclamation-triangle"></i>

            <div ng-repeat="i in vm.flights.Error">
                <span> Code: {{ i.Code }}</span>
                <span> Description: {{ i.Description }}</span>
            </div>

        </div>

</div>


    <div ng-if="vm.info.Status=='WARNING'">
        <div class="bg-info">
            <i class="fa fa-exclamation-triangle"></i>

            <div ng-repeat="i in vm.info.PrepareBooking.Warnings">
                <span> Code: {{ i.Code }}</span>
                <span> Description: {{ i.Description }}</span>
            </div>
            <div>

                Si Pulsas sobre confirmar vuelo se reenviará
                la nueva tarifa con la retarificación y se marcará
                para su proceso {{ vm.TotalAmount}}

            </div>
        </div>

    </div>






    Pulsa para confirmar el vuelo
    <input type="hidden" ng-model="vm.difference"/>
    <button type="submit" class="btn btn-primary">CONFIRMAR VUELO</button>

</form>
</div>

<div class="row">

    <div class="col-md-12" ng-if="vm.info.Status=='OK'">

        <form name="PAY" ng-submit="vm.payReservation()" class="border:1px solid #cacaca">
            PAGAR EL VUELO
            <button type="submit" class="btn btn-primary">PAGAR EL VUELO</button>

        </form>


    </div>
</div>






