<th>{{ nombre }}</th>
                            <th>{{ user.price }}</th>
                            <th>{{ user.tax }}</th>
                            <th>{{ user.fee }}</th>
                            <th>{{ user.discount }}</th>