<form name="form_vuelo" method="post" ng-submit="vm.search(form_vuelo)" class="form-horizontal">
    <div class="well">
        <div class="row">
            <!-- IZQ -->

            <div class="col-xs-6">
                <div class="form-group">
                    <label for="id_airportFrom">From AirPort:</label>

                    <ui-select ng-model="vm.flight1.from.selected" theme="selectize" ng-required="true">
                        <ui-select-match placeholder="Select or search a airport in the list...">
                            <span ng-bind="$select.selected.name"></span> <span
                                ng-bind-html="$select.selected.code"></span>
                        </ui-select-match>


                        <ui-select-choices repeat="code in vm.iataCodes | filter: $select.search"
                                           ng-required="true">
                            <span ng-bind-html="code.name | highlight: $select.search"></span>
                            <small ng-bind-html="code.code | highlight: $select.search"></small>
                        </ui-select-choices>


                    </ui-select>

                </div>

                <div class="form-group">

                    <label for="id_airportTo">To AirPort:</label>

                    <ui-select ng-model="vm.flight1.to.selected" theme="selectize" ng-disabled="disabled"
                               ng-required=true required>
                        <ui-select-match placeholder="Select or search a airport in the list...">

                            <span ng-bind="$select.selected.name"></span> <span
                                ng-bind-html="$select.selected.code"></span>

                        </ui-select-match>
                        <ui-select-choices repeat="code in vm.iataCodes | filter: $select.search"
                                           ng-required="true">
                            <span ng-bind-html="code.name | highlight: $select.search"></span>
                            <small ng-bind-html="code.code | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>


                </div>

                <div class="form-group">

                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="id_one_way">Solo ida:</label>
                            <input type="checkbox" name="oneWay" ng-model="vm.oneWay">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="id_direct_flight">Sin escalas:</label>
                            <input type="checkbox" name="directFlight" ng-model="vm.directFlight">
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="id_low_cost">Lowcost:</label>
                            <input type="checkbox" name="lowCost" ng-model="vm.lowCost">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="id_resident">Residentes:</label>
                            <input type="checkbox" name="residentes" ng-model="vm.resident">
                        </div>
                    </div>

                </div>

                <!-- FIN IZQ -->
            </div>
            <div class="col-xs-1">
                <br/>
            </div>

            <!-- DHA -->
            <div class="col-xs-5">
                <div class="form-group">
                    <div pb-date-range></div>
                </div>
                <div class="form-group">
                    <div class=" col-xs-4">
                        <label for="id_num_adult">num adultos:</label>
                        <select name="numAdult" class="form-control" ng-model="vm.numAdult">

                            <option ng-repeat="i in vm.range(10)" value="{{ i }}"
                                    ng-selected="i == vm.numAdult">{{ i }}</option>

                        </select>
                    </div>

                    <div class="col-xs-4">
                        <label for="id_num_child">num niños:</label>
                        <select name="numChild" class="form-control" ng-model="vm.numChild">

                            <option ng-repeat="i in vm.range(10)" value="{{ i }}"
                                    ng-selected="i == vm.numChild ">{{ i }}</option>


                        </select>
                    </div>
                    <div class="col-xs-4">
                        <label for="id_num_infant">num bebes:</label>
                        <select name="num_infant" class="form-control" ng-model="vm.numInfant">

                            <option ng-repeat="i in vm.rangeAddition(vm.numAdult,1)" value="{{ i }}"
                                    ng-selected=" i == vm.numInfant ">{{ i }}</option>


                        </select>
                    </div>

                </div>


                <!-- FIN DHA -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary col-md-12">Buscar Combinado</button>
            </div>


        </div>
    </div>


</form>

<div class="row">
    <div ng-if="vm.flights.Status=='KO'">

        <div class="bg-warning">
            <i class="fa fa-exclamation-triangle"></i>

            <div ng-repeat="i in vm.flights.Error">
                <span> Code: {{ i.Code }}</span>
                <span> Description: {{ i.Description }}</span>
            </div>
        </div>

    </div>
   <div class="col-md-12" ng-if="vm.flights.status=='OK'">
        Token = <span ng-bind="vm.flights.token"></span>
            <div resultadovuelo flight="vm.flights.response" token="vm.flights.token">cargo la directiva</div>
        </div>

    </div>
</div>