<span>Hora de Salida</span> {{ vuelo.departureTime }}
<span>Aeropuerto de Salida</span> {{ vuelo.departure }}
<span>Aeropuerto de Llegada</span> {{ vuelo.arrive }}
<span>Hora de LLegada</span> {{ vuelo.arriveTime }}
<span>Número de Vuelo</span> {{ vuelo.flightNumber }}
<strong>Compañia aerea </strong>: {{ nombre }}
<strong>Maletas Gratis incluidas </strong>: {{ vuelo.numBagage }}
<img ng-src="/media/{{ media }}"/>
<strong>Tipo de tarifa</strong>:{{ vuelo.fareType }}