<div class="row">
    <button type="button" class="btn btn-lg btn-primary" bs-aside="vm.aside"> Observaciones</button>
</div>


<div class="row">
    <form name="form_reservahotel" method="post" ng-submit="vm.generateBooking()">

        <div class="col-md-12">
            <div class="well">
                <div class="row">
                    <div class="form-group">
                        <div class="form-group col-xs-12">
                            Holder
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="nombre">Nombre</label>
                            <input type="text" ng-model="vm.holder.name">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" ng-model="vm.holder.lastName">
                            <label for="phone">Edad</label>
                            <input type="number" ng-model="vm.holder.age" min="18" required>

                            <div ng-if="vm.directPayment=='Y'">

                                <label for="cardType"> Tipo de tarjeta</label>
                                <select ng-model="vm.card.type" ng-options="card.name  for card in vm.blockHotel.acceptedCards" required></select>

                                <label for="cardNumber">Número de tarjeta</label>
                                <input type="text" ng-model="vm.card.cardNumber" required>

                                <label for="cardNumber">Fecha de expiración</label>
                                <input type="text" ng-model="vm.card.month" placeholder="MM" required> - <input type="text" ng-model="vm.card.year" placeholder="YY" required>
                                <label for="cvc">CvC</label>
                                <input type="text" ng-model="vm.card.cvc" required>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-repeat="room in vm.room"
                 ng-init="current= $parent.start; $parent.start = current + room.childCount + room.adultCount">
                Habiación {{  $index + 1 }}

                <div class="well">
                    <div class="row">

                        <div class="form-group col-xs-12" ng-repeat="i in vm.range_addition(room.adultCount)">
                            ADULTO {{ $index +1 }}
                            <div class="form-group col-xs-12" ng-init="vm.generateAdultType(current + $index)">
                                <label for="nombre">Nombre</label>
                                <input type="text" ng-model="vm.guest[current + $index].name">
                                <label for="apellidos">Apellidos</label>
                                <input type="text" ng-model="vm.guest[ current + $index].lastName">
                                <label for="phone">Edad</label>
                                <input type="number" ng-model="vm.guest[current + $index].age" min="18" required>
                            </div>
                        </div>


                        <div ng-if="room.childCount > 0">
                            <div class="form-group" ng-repeat="child in vm.range_addition(room.childCount)">
                                <div class="form-group col-xs-12">Niño {{ $index +1 }}
                                    <div class="form-group col-xs-12"
                                         ng-init="vm.generateChildType(current + $index+room.adultCount,room.age[$index])">
                                        <label for="nombre">Nombre</label>
                                        <input type="text"
                                               ng-model="vm.guest[current + $index+room.adultCount].name"/>
                                        <label for="apellidos">Apellidos</label>
                                        <input type="text"
                                               ng-model="vm.guest[current + $index+room.adultCount].lastName"/>
                                        <label for="phone">Edad</label> {{ room.age[$index] }}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                    <div class="well">
                        <div class="row">
                            <label for="comments">Comentarios al hotel</label>
                    <textarea ng-model="vm.comment">



                    </textarea>
                        </div>
                    </div>
                </div>

            <div class="col-md-12" style="margin-bottom: 20px;">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Reservar</button>
                </div>
            </div>
        </div>
    </form>

</div>

<div class="row">
    <div ng-if="vm.booking.Status=='KO'">

        <div class="bg-warning">
            <i class="fa fa-exclamation-triangle"></i>

            <div ng-repeat="i in vm.booking.Error">
                <span> Code: {{ i.Code }}</span>
                <span> Description: {{ i.Description }}</span>
            </div>

        </div>

    </div>
    <div class="col-md-12" ng-if="vm.booking.Status=='OK'">
        Token = <span ng-bind="vm.booking.Token"></span>

        <div confirmarvuelo token="vm.booking.Token">cargo la directiva</div>

    </div>
</div>