<div class="row " style="border:1px solid #000">
    <form name="xx" ng-submit="vm.blockHotel(vm.hotel)">
        <div class="col-lg-12"><strong>{{ vm.hotel.info.name }}</strong> - {{ vm.hotel.info.category }}
            <span class="bg-info">{{ vm.hotel.info.review.average }} /{{ vm.hotel.info.review.numReview }}</span>
        </div>
        <div class="col-lg-4"><img ng-src="http://cdn1.hotelopia.com/giata/{{ vm.hotel.info.images[0].url }}"></div>
        <div class="col-lg-8"> {{ vm.hotel.info.description }}</div>
        <div class="col-lg-8"> Dirección:</div>
        <div class="col-lg-8"> {{ vm.hotel.info.contact[0].address }}</div>


        <div class="col-lg-12">

            <div>
                <strong>Pago en el hotel:</strong>{{ vm.hotel.info.directPayment }}
            </div>
            <a target="_blank"
               href="http://maps.google.com/maps?q={{ vm.hotel.info.position.latitude }},{{ vm.hotel.info.position.longitude }}">
                Ver mapa </a>

        </div>

        <table class="table table-bordered table-striped col-lg-12">
            <caption>Habitaciones</caption>
            <thead>
            <tr>
                <th>Tipo</th>
                <th>Regimen</th>
                <th>Habitaciones libres</th>
                <th>Precio</th>
                <th>Selecionar</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="room in vm.hotel.info.room">
                <td>

                    {{ room.type.description }}<br>
                    {{ room.type.code }}<br>
                    {{ room.type.type }}<br>
                    {{ room.type.characteristic }}<br>

                </td>
                <td>
                    {{ room.boardType.description }} <br>
                    {{ room.boardType.code }}<br>

                </td>
                <td>
                    {{ room.AvailableRoom }} <br>
                    Num de habitaciones  {{ room.occupancy.roomCount }} <br>
                    para {{ room.occupancy.adultCount }} Adultos <br>
                    para {{ room.occupancy.childCount }} Niños <br>
                </td>
                <td>
                    <ul>
                        <li>Neto: {{ room.price.netPrice }}</li>
                        <li>PVP {{ room.price.amount }}</li>
                        <li>PVP Recomendado {{ room.price.sellingPrice.amount }}</li>
                        <li>Obligatorio Precio Recomendado {{ room.price.sellingPrice.mandatory }}</li>
                    </ul>
                </td>

                <td>
                    <input type="checkbox" name="{{ vm.hotel.info.code }}" ng-model="vm.roomChecked[$index]" ng-change="vm.roomKeys($index,room,vm.hotel.info.code)">

                </td>
            </tr>

            </tbody>


        </table>
        <button type="submit" class="btn btn-primary btn-lg">Reservar</button>

        <button type="button" class="btn btn-success btn-lg">Detalle del hotel</button>
    </form>
</div>
