<form name="form_hoteles" method="post" ng-submit="vm.search()" class="form-horizontal">
TICKET
    <div class="well">
        <div class="row">
            <!-- IZQ -->

            <div class="col-xs-6">
                <div class="form-group">
                    <label for="id_from_date">Elige Destino:</label>
                    <ui-select ng-model="vm.destination.selected" theme="selectize" ng-disabled="disabled"
                               style="min-width: 300px;" title="Single property binding with async data">
                        <ui-select-match placeholder="Elige un destino">
                            <strong ng-if="$select.selected.hotelName">{{ $select.selected.hotelName || $select.selected}},</strong>
                            <strong ng-if="$select.selected.zoneName">{{ $select.selected.zoneName || $select.selected}},</strong>
                            <strong>{{$select.selected.destinationName || $select.selected}} </strong>,
                            {{ $select.selected.country }} <span ng-hide="$select.selected.hotelName">| Hoteles disponibles:{{ $select.selected.numHotel }}</span>
                        </ui-select-match>
                        <ui-select-choices group-by="vm.groupDestination"
                                           repeat="destination in vm.destinations track by $index"
                                           refresh="vm.findDestination($select.search)"
                                           refresh-delay="0">

                            <small>
                                <strong ng-if="destination.hotelName">{{ destination.hotelName }}| </strong>
                                <strong ng-if="destination.zoneName">{{ destination.zoneName }}| </strong>
                                <strong>{{ destination.destinationName }}</strong>|{{ destination.country }}
                                |{{ destination.terminalCode }} <span ng-hide="destination.hotelName">| Hoteles disponibles:{{ destination.numHotel }}</span>
                            </small>
                        </ui-select-choices>
                    </ui-select>

                </div>
                <div class="form-group">
                    <div pb-date-time-range></div>
                </div>


            </div>
            <div class="col-xs-1">
            </div>

            <div class="col-xs-5">
                <div class="form-group">


                    <div class="form-group">

                        <div class="col-xs-4">
                            <label for="numAdult">Número de adultos:</label>
                            <select ng-model="vm.adultCount" name="numAdults" class="form-control">
                                <option ng-repeat="ad in vm.range(6)" value="{{ ad }}">{{ ad }}</option>
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <label for="numChild">Número de niños:</label>
                            <select ng-model="vm.childCount" name="num_ninos" class="form-control">
                                <option ng-repeat="ch in vm.range(6)" value="{{ ch }}">{{ ch }}</option>
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <div ng-if="vm.childCount > 0">
                                <strong>Edades:</strong>

                                <div ng-repeat="j in vm.generateChild(vm.childCount)">

                                    <select ng-model="vm.childAge[j]" name="edadNinos" class="form-control">
                                        <option value="" disabled selected>Niño {{ j+1 }}</option>

                                        <option ng-repeat="k in vm.range(18)" value="{{ k }}">{{ k }}</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary col-md-12">Buscar Combinado</button>
            </div>


        </div>
    </div>
</form>
<div class="row">
    <div ng-if="vm.hotels.Status=='KO'">

        <div class="bg-warning">
            <i class="fa fa-exclamation-triangle"></i>

            <div ng-repeat="i in vm.hotels.Error">
                <span> Code: {{ i.Code }}</span>
                <span> Description: {{ i.Description }}</span>
            </div>

        </div>

    </div>
    <div class="col-md-12" ng-if="vm.hotels.Status=='OK'">
        Número de resultados = <span ng-bind="vm.hotels.TotalItem"></span>

        <div ng-repeat="hotel in vm.hotels.Response">
            <div resultadohotel hotel="hotel">cargo la directiva del hotel</div>
        </div>

    </div>
</div>