<div class="row">

    SOY TRANSFER BOOKING

    <button type="button" class="btn btn-lg btn-primary" bs-aside="vm.aside"> Observaciones</button>
</div>

<div class="row">
    <form name="form_reservahotel" method="post" ng-submit="vm.generateBooking()">

        <div class="col-md-12">
            <div class="well">
                <div class="row">
                    <div class="form-group">
                        <div class="form-group col-xs-12">
                            Holder
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="nombre">Nombre</label>
                            <input type="text" ng-model="vm.holder.name">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" ng-model="vm.holder.lastName">
                            <label for="phone">Edad</label>
                            <input type="number" ng-model="vm.holder.age" min="18" required>

                            <div ng-if="vm.directPayment=='Y'">

                                <label for="cardType"> Tipo de tarjeta</label>
                                <select ng-model="vm.card.type"
                                        ng-options="card.name  for card in vm.blockHotel.AcceptedCards"
                                        required></select>

                                <label for="cardNumber">Número de tarjeta</label>
                                <input type="text" ng-model="vm.card.cardNumber" required>

                                <label for="cardNumber">Fecha de expiración</label>
                                <input type="text" ng-model="vm.card.month" placeholder="MM" required> - <input
                                    type="text" ng-model="vm.card.year" placeholder="YY" required>
                                <label for="cvc">CvC</label>
                                <input type="text" ng-model="vm.card.cvc" required>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="well">
                <div class="row">
                    <div class="form-group col-xs-12" ng-repeat="i in vm.range_addition(vm.occupation.adultCount)">
                        ADULTO {{ $index +1 }}
                        <div class="form-group col-xs-12" ng-init="vm.generateAdultType($index)">
                            <label for="nombre">Nombre</label>
                            <input type="text" ng-model="vm.guest[$index].name">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" ng-model="vm.guest[$index].lastName">
                            <label for="phone">Edad</label>
                            <input type="number" ng-model="vm.guest[$index].age" min="18" required>
                        </div>
                    </div>


                    <div ng-if="vm.occupation.childCount > 0">
                        <div class="form-group" ng-repeat="child in vm.range_addition(vm.occupation.childCount)">
                            <div class="form-group col-xs-12">Niño {{ $index +1 }}
                                <div class="form-group col-xs-12"
                                     ng-init="vm.generateChildType($index + vm.occupation.adultCount,vm.occupation.age[$index])">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" ng-model="vm.guest[$index + vm.occupation.adultCount].name"/>
                                    <label for="apellidos">Apellidos</label>
                                    <input type="text"
                                           ng-model="vm.guest[$index + vm.occupation.adultCount].lastName"/>
                                    <label for="phone">Edad</label> {{ vm.occupation.age[$index] }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="well">
                    <div class="form-group col-xs-6">
                        <div ng-if="vm.showFlightIn">
                            <label for="ida">ID Vuelo de Ida</label>
                            <input type="text" ng-model="vm.blockTransfer.in.flightNumber"/>
                        </div>
                    </div>

                    <div class="form-group col-xs-6">
                        <div ng-if="vm.showFlightOut">
                            <label for="ida">ID Vuelo de Vuelta</label>
                            <input type="text"  ng-model="vm.blockTransfer.out.flightNumber"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <label for="comments">Comentarios al Transfer</label>
                    <textarea ng-model="vm.comment">



                    </textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="margin-bottom: 20px;">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Reservar</button>
                </div>
            </div>
        </div>
    </form>
</div>