<div>
    <form ng-submit="vm.blockTransfer()">
        <div class="col-md-6">
            IDA


            <div ng-repeat="transfer in vm.transfer.in">
                <div class="row " style="border:1px solid #000">
                    <img ng-src="{{ transfer.transferInfo.imageList[0].url }}"/>
                    Amount:{{ transfer.amount }}
                    <input type="radio" ng-model="vm.transferObj.in" ng-value="transfer">

                </div>

            </div>
        </div>

        <div class="col-md-6">
            VUELTA
            <div ng-repeat="transfer in vm.transfer.out">
                <div class="row " style="border:1px solid #000">
                    <img ng-src="{{ transfer.transferInfo.imageList[0].url }}"/>
                    Amount:{{ transfer.amount }}
                    <input type="radio" ng-model="vm.transferObj.out" ng-value="transfer">

                </div>

            </div>
        </div>
<button type="submit" class="btn btn-primary btn-lg">Reservar</button>
    </form>
</div>

{{ vm.result }}

