<!DOCTYPE html>
<html lang="en">
<head >
   <link href="http://www.mallorcanautic.com/static/img/mallorcanautic/favicon.ico" rel="icon" type="image/z-icon"/>
  <title>Preferentbooking</title>

  <base href="/" />

  {% include 'stylesheets.html' %}
</head>

<body  ng-app="preferentBooking" ng-strict-di>
  {% include 'navbar.html' %}

  <div class="container">
    <div class="row">
      <div class="col-xs-12" ng-view ></div>

    </div>
  </div>

  {% include 'javascripts.html' %}
</body>
</html>