{% load staticfiles %}
<script type="text/javascript" src="{% static 'angular/angular.min.js'%}"></script>
<script type="text/javascript" src="{% static 'angular-cookies/angular-cookies.min.js'%}"></script>
<script type="text/javascript" src="{% static 'angular-sanitize/angular-sanitize.min.js'%}"></script>
<script type="text/javascript" src="{% static 'angular-route/angular-route.min.js'%}"></script>
<script type="text/javascript" src="{% static 'angular-strap/dist/angular-strap.min.js'%}"></script>
<script type="text/javascript" src="{% static 'angular-strap/dist/angular-strap.tpl.min.js'%}"></script>
<script type="text/javascript" src="{% static 'angularjs-slider/dist/rzslider.min.js'%}"></script>
<script type="text/javascript" src="{% static 'ui-select/dist/select.min.js'%}"></script>
<script type="text/javascript" src="{% static 'underscore/underscore-min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/underscore.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-slugify.js' %}"></script>


<script type="text/javascript" src="{% static 'js/preferentbooking.js' %}"></script>
<script type="text/javascript" src="{% static 'js/preferentbooking.config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/preferentbooking.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/dateTimeRange.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/dateRange.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'authentication/js/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'authentication/js/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'authentication/js/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'authentication/js/controllers/login.controller.js' %}"></script>


<script type="text/javascript" src="{% static 'servivuelo/js/servivuelo.module.js' %}"></script>
<script type="text/javascript" src="{% static 'servivuelo/js/services/servivuelo.search.service.js' %}"></script>
<script type="text/javascript" src="{% static 'servivuelo/js/services/servivuelo.booking.service.js' %}"></script>
<script type="text/javascript" src="{% static 'servivuelo/js/services/servivuelo.shared.service.js' %}"></script>

<script type="text/javascript" src="{% static 'servivuelo/js/controllers/search.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'servivuelo/js/controllers/multisearch.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'servivuelo/js/controllers/booking.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'servivuelo/js/directives/flightlist.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'servivuelo/js/directives/infoVuelo.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'servivuelo/js/directives/price.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'servivuelo/js/directives/preparebooking.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'servivuelo/js/servivuelo.config.js' %}"></script>


<script type="text/javascript" src="{% static 'hotelbeds/js/hotelbeds.module.js' %}"></script>
<script type="text/javascript" src="{% static 'hotelbeds/js/hotelbeds.config.js' %}"></script>
<script type="text/javascript" src="{% static 'hotelbeds/js/services/hotelbeds.hotel.search.service.js' %}"></script>
<script type="text/javascript" src="{% static 'hotelbeds/js/services/hotelbeds.hotel.shared.service.js' %}"></script>
<script type="text/javascript" src="{% static 'hotelbeds/js/services/hotelbeds.hotel.booking.service.js' %}"></script>
<script type="text/javascript" src="{% static 'hotelbeds/js/services/hotelbeds.transfer.search.service.js' %}"></script>
<script type="text/javascript" src="{% static 'hotelbeds/js/services/hotelbeds.transfer.shared.service.js' %}"></script>
<script type="text/javascript" src="{% static 'hotelbeds/js/services/hotelbeds.transfer.booking.service.js' %}"></script>
<script type="text/javascript" src="{% static 'hotelbeds/js/services/hotelbeds.ticket.search.service.js' %}"></script>
<script type="text/javascript" src="{% static 'hotelbeds/js/services/hotelbeds.ticket.shared.service.js' %}"></script>
<script type="text/javascript" src="{% static 'hotelbeds/js/services/hotelbeds.ticket.booking.service.js' %}"></script>
<script type="text/javascript" src="{% static 'hotelbeds/js/directives/searchhotel.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'hotelbeds/js/directives/searchtransfer.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'hotelbeds/js/controllers/hotel.search.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'hotelbeds/js/controllers/hotel.booking.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'hotelbeds/js/controllers/transfer.search.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'hotelbeds/js/controllers/transfer.booking.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'hotelbeds/js/controllers/ticket.search.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'hotelbeds/js/controllers/ticket.booking.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'common/js/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'common/js/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'common/js/controllers/index.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'common/js/services/common.service.js' %}"></script>


<script type="text/javascript" src="{% static 'combined/js/combined.module.js' %}"></script>
<script type="text/javascript" src="{% static 'combined/js/combined.config.js' %}"></script>
<script type="text/javascript" src="{% static 'combined/js/services/combined.search.service.js' %}"></script>
<script type="text/javascript" src="{% static 'combined/js/services/combined.shared.service.js' %}"></script>
<script type="text/javascript" src="{% static 'combined/js/directives/combinedsearch.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'combined/js/controllers/search.controller.js' %}"></script>


