<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController as vm" bs-navbar>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#not-google-plus-nav">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Preferentbooking</a>
        </div>
        <!-- ./navbar-header -->

        <div class="collapse navbar-collapse" id="not-google-plus-nav">


            <ul class="nav navbar-nav" ng-show="vm.isUser()">
                <li><a href="/hoteles">Hoteles</a></li>
                  <li><a href="/vuelos">Vuelos normales</a></li>
                        <li><a href="/vuelosMulti">Vuelos Multidestino</a></li>
                        <li role="separator" class="divider"></li>
                         <li><a href="/vuelo_hotel">Vuelo+hotel</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                <li><a href="/ticket">Ticket</a></li>
                <li><a href="/transfer">Transfer</a></li>
                <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
            </ul>


            <ul class="nav navbar-nav pull-right" ng-hide="vm.isUser()">

                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>

            </ul>
        </div>
        <!-- /.collapse.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>