{% load staticfiles %}
<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css'%}" />
<link rel="stylesheet" href="{% static 'components-font-awesome/css/font-awesome.min.css'%}">
<link rel="stylesheet" href="{% static 'ui-select/dist/select.min.css'%}">
<link rel="stylesheet" href="{% static 'selectize/dist/css/selectize.default.css'%}">
<link rel="stylesheet" href="{% static 'select2/dist/css/select2.min.css'%}">
<link rel="stylesheet" href="{% static 'bootstrap-additions/dist/bootstrap-additions.min.css'%}">
<link rel="stylesheet" href="{% static 'angularjs-slider/dist/rzslider.min.css'%}">