<form name="form_hoteles" method="post" ng-submit="vm.search()" class="form-horizontal">

    <div class="well">
        <div class="row">
            <!-- IZQ -->

            <div class="col-xs-6">

                <div class="form-group">
                    <label for="id_airportFrom">From AirPort:</label>
                    <ui-select ng-model="vm.airportFrom.selected" theme="selectize" ng-required="true">
                        <ui-select-match placeholder="Select or search a airport in the list...">
                            <span ng-bind="$select.selected.name"></span> <span
                                ng-bind-html="$select.selected.code"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="code in vm.iataCodes | filter: $select.search"
                                           ng-required="true">
                            <span ng-bind-html="code.name | highlight: $select.search"></span>
                            <small ng-bind-html="code.code | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group">

                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="id_one_way">Solo ida:</label>
                            <input type="checkbox" name="oneWay" ng-model="vm.oneWay">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="id_direct_flight">Sin escalas:</label>
                            <input type="checkbox" name="directFlight" ng-model="vm.directFlight">
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="id_low_cost">Incluir Lowcost:</label>
                            <input type="checkbox" name="lowCost" ng-model="vm.lowCost">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="id_resident">Residentes:</label>
                            <input type="checkbox" name="residentes" ng-model="vm.resident">
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label for="id_from_date">Elige Destino:</label>
                     <ui-select ng-model="vm.destination.selected" theme="selectize" ng-disabled="disabled"
                               style="min-width: 300px;" title="Single property binding with async data">
                        <ui-select-match placeholder="Elige un destino">
                            <strong ng-if="$select.selected.hotelName">{{ $select.selected.hotelName || $select.selected}},</strong>
                            <strong ng-if="$select.selected.zoneName">{{ $select.selected.zoneName || $select.selected}},</strong>
                            <strong>{{$select.selected.destinationName || $select.selected}} </strong>,
                            {{ $select.selected.country }} | Hoteles disponibles:{{ $select.selected.numHotel }}
                        </ui-select-match>
                        <ui-select-choices group-by="vm.groupDestination"
                                           repeat="destination in vm.destinations track by $index"
                                           refresh="vm.findDestination($select.search)"
                                           refresh-delay="0">

                            <small>
                                <strong ng-if="destination.hotelName">{{ destination.hotelName }}| </strong>
                                <strong ng-if="destination.zoneName">{{ destination.zoneName }}| </strong>
                                <strong>{{ destination.destinationName }}</strong>|{{ destination.country }}
                                |{{ destination.terminalCode }} | Hoteles disponibles:{{ destination.numHotel }}
                            </small>
                        </ui-select-choices>
                    </ui-select>

                </div>


                <!-- FIN IZQ -->
            </div>
            <div class="col-xs-1">
                <br/>
            </div>
            <!-- DCHA -->
            <div class="col-xs-5">
                <div class="form-group">
                    <div pb-date-range></div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="numRoom">Número de Habitaciones:</label>
                        <select ng-model="vm.numRoom" class="form-control" name="num_rooms">
                            <option ng-repeat="f in vm.range(9)" value="{{ f }}" ng-selected="f == vm.numRoom">{{ f }}</option>
                        </select>
                    </div>

                    <div ng-repeat="i in  vm.range(vm.numRoom)" class="form-group"> Habitación {{ i +1 }}
                        <div class="form-group">

                            <div class="col-xs-4">
                                <label for="numAdult">Número de adultos:</label>
                                <select ng-model="vm.adultCount[i+1]" name="numAdults" class="form-control">
                                    <option ng-repeat="ad in vm.range(6)" value="{{ ad }}">{{ ad }}</option>
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <label for="numChild">Número de niños:</label>
                                <select ng-model="vm.childCount[i+1]" name="num_ninos" class="form-control">
                                    <option ng-repeat="ch in vm.range(6)" value="{{ ch }}">{{ ch }}</option>
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <div ng-if="vm.childCount[i+1] > 0">
                                    <strong>Edades:</strong>

                                    <div ng-repeat="j in vm.generateChild(vm.childCount[i+1])">

                                        <select ng-model="vm.childAge[i+1][j]" name="edadNinos" class="form-control">
                                            <option value="" disabled selected>Niño {{ j+1 }}</option>

                                            <option ng-repeat="k in vm.range(18)" value="{{ k }}">{{ k }}</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- FIN DCHA -->
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary col-md-12">Buscar Combinado</button>
            </div>


        </div>
    </div>







</form>







<div class="row">
    <div ng-if="vm.flights.Status=='KO'">

        <div class="bg-warning">
            <i class="fa fa-exclamation-triangle"></i>

            <div ng-repeat="i in vm.flights.Error">
                <span> Code: {{ i.Code }}</span>
                <span> Description: {{ i.Description }}</span>
            </div>

        </div>

    </div>
    <div class="col-md-12" ng-if="vm.flights.Status=='OK'">
        Token = <span ng-bind="vm.flights.Token"></span>

        <div ng-repeat="flight in vm.flights.Response" data-id="{{ flight.Price_group }}">
            <div resultadovuelo flight="flight" token="vm.flights.Token">cargo la directiva</div>
        </div>

    </div>
</div>






<div class="row">
    <div ng-if="vm.hotels.Status=='KO'">

        <div class="bg-warning">
            <i class="fa fa-exclamation-triangle"></i>

            <div ng-repeat="i in vm.hotels.Error">
                <span> Code: {{ i.Code }}</span>
                <span> Description: {{ i.Description }}</span>
            </div>

        </div>

    </div>
    <div class="col-md-12" ng-if="vm.hotels.Status=='OK'">
        Número de resultados = <span ng-bind="vm.hotels.TotalItem"></span>
        <div ng-repeat="hotel in vm.hotels.Response">
            <div resultadohotel hotel="hotel">cargo la directiva del hotel</div>
        </div>

    </div>
</div>






